if SHIELD_FURLUKEEB_LEFT

config ZMK_KEYBOARD_NAME
    default "FurluKeeb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FURLUKEEB_LEFT || SHIELD_FURLUKEEB_RIGHT

config ZMK_SPLIT
    default y

endif